@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../../dist/images/hero_desktop.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../../dist/images/hero_mobile.jpg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .character {
        color: variaveis.$corTextoSecundario;
        &__image {
            width: 340px;
            height: 540px;

            @media (max-width: 768px) {
                width: 50%;
                height: auto;
            }
        }
    }

    &__content {
        @media (max-width: 768px) {
            .title__hero {
                margin-top: 50px;
            }
        }

        max-width: 640px;

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;
        }

        &__force {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 480px) {
                h2 {
                    font-size: 12px;
                }
                img {
                    margin: inherit;
                    
                }
            }

            &__force {
                width: calc(50% - 12px);

                @media (max-width: 768px) {
                    width: 350px;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 60px;
                }
            }
        }
    }
}