@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero2.png);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    .character {
        color: variaveis.$corTextoSecundario;
        &__image {
            width: 340px;
            height: 540px;
        }
    }

    

    &__content {
        max-width: 640px;

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;
        }

        &__force {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__force {
                width: calc(50% - 12px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 60px;
                }
            }
        }
    }
}