@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices'; 
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: PathwayGothicOne;
    src: url(../../assets/font/PathwayGothicOne-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PathwayGothicOne, sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

body {
    background-color: variaveis.$corDeFundo;
    
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.vazio {
    margin-bottom: 50px;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.character {
    border: 2px solid yellow;
    border-radius: 8px;
    margin: 20px;
    background-color: rgba(0, 0, 0, .7);
    
    &:hover {

        h2 {
            text-shadow: 0 0 10px yellow;
        }
        box-shadow: 0 0 20px yellow;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    h2 {
        margin: 20px;
    }

    &__bad {
        &:hover {
            h2 {
                text-shadow: 0 0 20px yellow;
            }
            box-shadow: 0 0 40px red;
            border-color: red;
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoDark;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 2px;
    border: 1px solid  variaveis.$corDeFundoBotaoPrimario;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease;
        box-shadow: 0 0 20px variaveis.$corDeFundoBotaoPrimario;
        text-shadow: 0 0 10px yellow;
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;
        position: relative;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
            height: 780px;
            
            @media (max-width: 768px) {
                width: 100%;
                height: auto;
                margin-bottom: 24px;
            }

            @media (max-width: 480px) {
                width: 100%;
                height: auto;
            }
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}